.elementor-7162 .elementor-element.elementor-element-c895366 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: flex-end;
    --gap: 0px 12px;
    --row-gap: 0px;
    --column-gap: 12px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-37bc217 {
    --display: flex;
    --min-height: 190px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-7aa6fbd {
    --display: flex;
    --min-height: 220px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-5500eb5 {
    --display: flex;
    --min-height: 250px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-ba4229b {
    --display: flex;
    --min-height: 280px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-0df9fbc {
    --display: flex;
    --min-height: 310px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7162 .elementor-element.elementor-element-a5c7002 {
    --display: flex;
    --min-height: 340px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

@media(max-width:1024px) {
    .elementor-7162 .elementor-element.elementor-element-37bc217 {
        --min-height: 90px;
    }
    .elementor-7162 .elementor-element.elementor-element-7aa6fbd {
        --min-height: 120px;
    }
    .elementor-7162 .elementor-element.elementor-element-5500eb5 {
        --min-height: 150px;
    }
    .elementor-7162 .elementor-element.elementor-element-ba4229b {
        --min-height: 180px;
    }
    .elementor-7162 .elementor-element.elementor-element-0df9fbc {
        --min-height: 210px;
    }
    .elementor-7162 .elementor-element.elementor-element-a5c7002 {
        --min-height: 240px;
    }
}

@media(min-width:768px) {
    .elementor-7162 .elementor-element.elementor-element-37bc217 {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-7aa6fbd {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-5500eb5 {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-ba4229b {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-0df9fbc {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-a5c7002 {
        --width: 20px;
    }
}

@media(max-width:767px) {
    .elementor-7162 .elementor-element.elementor-element-37bc217 {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-7aa6fbd {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-5500eb5 {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-ba4229b {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-0df9fbc {
        --width: 20px;
    }
    .elementor-7162 .elementor-element.elementor-element-a5c7002 {
        --width: 20px;
    }
}