.elementor-139 .elementor-element.elementor-element-0fdf1ae {
    --display: flex;
    --min-height: 70px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --overlay-opacity: 0;
    --vamtam-sticky-offset: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0.5px;
    --border-left-width: 0px;
    border-color: #FFFFFF26;
    --border-color: #FFFFFF26;
    --margin-top: 0px;
    --margin-bottom: -70px;
    --margin-left: 0px;
    --margin-right: 0px;
    --z-index: 2;
}

.elementor-139 .elementor-element.elementor-element-0fdf1ae::before,
.elementor-139 .elementor-element.elementor-element-0fdf1ae>.elementor-background-video-container::before,
.elementor-139 .elementor-element.elementor-element-0fdf1ae>.e-con-inner>.elementor-background-video-container::before,
.elementor-139 .elementor-element.elementor-element-0fdf1ae>.elementor-background-slideshow::before,
.elementor-139 .elementor-element.elementor-element-0fdf1ae>.e-con-inner>.elementor-background-slideshow::before,
.elementor-139 .elementor-element.elementor-element-0fdf1ae>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: var( --e-global-color-vamtam_accent_1);
    --background-overlay: '';
}

.elementor-139 .elementor-element.elementor-element-72e5739 img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle {
    margin-left: auto;
    background-color: #00000000;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-47d0553-font-family), Sans-serif;
    font-size: var( --e-global-typography-47d0553-font-size);
    font-weight: var( --e-global-typography-47d0553-font-weight);
    line-height: var( --e-global-typography-47d0553-line-height);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-vamtam_accent_4);
    fill: var( --e-global-color-vamtam_accent_4);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-vamtam_accent_5);
    fill: var( --e-global-color-vamtam_accent_5);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed .elementor-item:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-underline .elementor-item:after,
.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-overline .elementor-item:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-double-line .elementor-item:before,
.elementor-139 .elementor-element.elementor-element-1243e1d .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle {
    color: var( --e-global-color-vamtam_accent_1);
    fill: var( --e-global-color-vamtam_accent_1);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-vamtam_accent_5);
    border-style: solid;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-color: var( --e-global-color-vamtam_accent_7);
    border-radius: 6px 6px 6px 6px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a:focus,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a.highlighted,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle:focus {
    color: var( --e-global-color-vamtam_accent_6);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a:focus,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-vamtam_accent_1);
    background-color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-item,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-vamtam_primary_font-font-family), Sans-serif;
    font-size: var( --e-global-typography-vamtam_primary_font-font-size);
    font-weight: var( --e-global-typography-vamtam_primary_font-font-weight);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.06);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: var( --e-global-color-vamtam_accent_7);
    border-bottom-width: 0.5px;
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 10px !important;
}

.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle {
    color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle svg {
    fill: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle:focus {
    color: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle:hover svg,
.elementor-139 .elementor-element.elementor-element-1243e1d div.elementor-menu-toggle:focus svg {
    fill: var( --e-global-color-vamtam_accent_2);
}

.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle:hover,
.elementor-139 .elementor-element.elementor-element-1243e1d .elementor-menu-toggle:focus {
    background-color: #00000000;
}

.elementor-139 .elementor-element.elementor-element-6e27b2a .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-139 .elementor-element.elementor-element-6e27b2a .elementor-button .elementor-button-content-wrapper {
    gap: 3em;
}

.elementor-139 .elementor-element.elementor-element-6e27b2a {
    --vamtam-gap: 3em;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-139 .elementor-element.elementor-element-0fdf1ae {
        --overlay-opacity: 1;
        --margin-top: 0px;
        --margin-bottom: -1px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-47d0553-font-size);
        line-height: var( --e-global-typography-47d0553-line-height);
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d {
        --e-nav-menu-horizontal-menu-item-margin: calc( 1em / 2);
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 1em;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-item,
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-vamtam_primary_font-font-size);
    }
}

@media(max-width:767px) {
    .elementor-139 .elementor-element.elementor-element-0fdf1ae {
        --min-height: 50px;
        border-width: 0px 0px 0px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-47d0553-font-size);
        line-height: var( --e-global-typography-47d0553-line-height);
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-item,
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-vamtam_primary_font-font-size);
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 6px 6px;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-139 .elementor-element.elementor-element-1243e1d .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 5px !important;
    }
    .elementor-139 .elementor-element.elementor-element-1243e1d {
        --nav-menu-icon-size: 26px;
    }
}